label.radio-pulls input[type="radio"]:checked + div {
    border: 2px solid var(--light-purple);
    & .first {
      border-right: 2px solid var(--light-purple);
    }
  }

form {
  height: 100%;
}

#encounter-selection {
    height: 25%;
    & .boss {
      width: 50px;
      height: 45px;
      position: relative;
      border: none;
    }
    & .main-flex {
      flex-wrap: nowrap;
    }
    & ul {
      list-style-type: none;
      overflow: auto;
      height: 60%;
      position: relative;
      bottom: 3rem;
      padding: 1rem;
      border-bottom: none;
      box-sizing: content-box;
      & .pulls {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        & .sub-flex {
          justify-content: space-between;
          background-color: var(--dark-blue);
          padding: 7px;
          margin: 4px;
        }
        & .sub-flex.box {
          transition-duration: 500ms;
          & .first {
            transition-duration: 500ms;
          }
        }
        & .sub-flex.box:hover {
          background-color: var(--light-purple);
          transition-duration: 500ms;
          border-bottom: solid 2px var(--dark-purple);
          & .first {
            border-right: solid 2px var(--dark-purple);
            transition-duration: 500ms;
          }
        }
      }
    }
  }

  