.sub-static-container.spell-input-box {
  height: fit-content;
  padding: 10px;
  background-color: var(--light-green);
  & .spell-wrapper {
    border-radius: 5px;
  }
  & img {
    margin-bottom: 5px;
    filter:brightness(1.0);
  }
}

.main-static-container.spells {
  position:relative;
  height: 50%;
  & .main-grid {
    height: 85%;
    position: relative;
    bottom: 0.5rem;
    overflow: auto;
    border: none;
    box-shadow: none;
    & .timers-wrapper {
      width: -webkit-fill-available;
      padding-top:5px;
      grid-gap: 2px;
      justify-items: center;
      & .timers {
        height:fit-content;
        border-radius: 2px;
        border: solid 2px transparent;
      }
    }
    & .spells {
      width: 100%;
    }
    & button {
      width: 100%;
      border: solid 2px transparent;
    }
    & button:hover {
      background-color: var(--light-purple);
      border: var(--dark-purple) solid 2px;
    }
    & .suggestions {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      height: 10rem;
      bottom: 6.5rem;
      
      margin: auto;
      padding: 0px;
      & img {
        width: 2rem;
        margin-right: 5px;
      }
      & .sub-flex.box {
        font-size: 13px;
        border-radius: 2px;
        background-color: var(--dark-blue);
        flex-wrap:nowrap;
        align-items: center;
        border-bottom: none;
      }
      & .sub-flex.box:hover {
        background-color: var(--light-purple);
        transition-duration: 500ms;
        cursor: pointer;
      }
    }
  }
}

#spell-suggestions.max-height {
  top: 10rem;
}

.flex-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height:auto;
  width: auto;
  padding-bottom: 5px;
  box-shadow: none;
  & > img {
    width:auto;
  }
}

::-webkit-scrollbar {
  height: 12px;
  width: 10px;
}

button:hover {
  background-color: var(--dark-purple);
  transition-duration: 500ms;
}

.timer-btn {
  margin-top: 5px;
  background-color: var(--dark-blue);
}


input[type="text"]:focus {
  outline: solid 2px var(--light-purple);
}

input[type="text"] {  
  box-shadow: 2px 2px 5px 1px #0000008a;
}

.final-btn:hover {
  transform: scale(1.1);
}

.final-btn {
  margin-left: auto;
}
.main-flex {
  justify-content: flex-start;
  position: relative;
  bottom: .5rem;
}

.delete {
  margin-left: 1rem;
}
