body {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
}

#main-wrapper {
    margin: 0px;
    background-color: pink;
    width: 75vw;
    height: 100vh;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 10%;
}
nav {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: aquamarine;
    border: solid;
    & a {
        text-decoration: none;
        color: black;
    } 
}

h1{
    text-align: center;
}

.instructions {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
}

label.image-radio input[type="radio"]:checked + img{
    border:1px solid red;
}

#radio-button-wrapper input[type="radio"] {
    display: none; /* Hide the radio buttons */
  }

label.image-radio img {
    width: 50px;
    margin: 5px;
}

form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    grid-column: 1/3;
    grid-row: 2/4;

    & #spell-form {
        grid-column: 1/2;
        grid-row: 2/3;
        display:flex;
        flex-direction: column;
    }
    & #timer-form {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
    }
    & #boss-form {
        grid-column: 1/3;
        margin-top: 8rem;
    }
    & #log-form {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    & fieldset {
        border: 0;
    }
}


