.instructions {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
}

label.image-radio input[type="radio"]:checked + img{
    border:1px solid red;
}

.radio-wrapper input[type="radio"] {
    display: none; /* Hide the radio buttons */
  }