.flex-sub {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
}
.main-flex-col {
    justify-content: space-around;
    padding-bottom: 1rem;
    box-shadow:none;
  }
  
  .flex-img {
    justify-content: flex-start;
    border-bottom: var(--dark-green);
    & .flex {
      align-items: center;
      justify-content: center;
      width: -webkit-fill-available;
      & > img {
        border: none;
      }
      & > h3 {
        position: absolute;
        z-index: 2;
        top: 9rem;
        padding: 5px;
        width: 7rem;
        background-color: #a11010;
        font-size: medium;
        border-radius: 5px;
        border: solid 1px;
        box-shadow: 2px 2px 5px 1px #0000008a;
      }
    }
  }

  .players.main-flex-col { 
    padding: 0.5rem;
    
    justify-content: space-evenly;
    background-color: transparent;
       position: relative;
       z-index: 2;
      
       max-width: fit-content;
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px;
       border-top: solid 2px transparent;
     & > div {
       position:relative;
       top: 1.5rem;
     }
   }
  
.flex-players {
  background-color: #0f2426d4;
  box-shadow: 2px 2px 5px 1px #0000008a;
  position: relative;
  z-index: 100;
  border-left: 0px;
}
  