.spell-timeline-container {
  overflow: auto;
  border-radius: 5px;
  & .flex {
    padding-bottom: 5px;
    overflow: auto;
  }
}

.spell-timeline {
  font-size: 14px;
  position: relative;
  white-space: nowrap;
  & .lane {
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: solid var(--dark-green);
    & .spell {
      position: absolute;
      
    }
    & .main-flex {
      align-items: center;
      width: 75px;
      cursor: pointer;
    }
  }
  
  & .lane:nth-of-type(even) {
    background: var(--light-green);
  }
  & .lane:nth-child(2){
    border-top: 1px solid;
    & .main-flex{
      border-top: solid 1px;
      border-bottom: solid 1px var(--dark-green);
      height: 2.9rem;
    }
  }
  & .timeline-container {
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    padding-top: 1rem;
    position:relative;
    z-index: 2;
    
    & .time {
      display: inline-block;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 4px;
      font-size: 14px;
      position: relative;
    }
    & .show-line:before,
      .show-text:before,
      .show-text:after {
        position:absolute;
      }
    & .show-line:before {
      content: "";
      width: 1px;
      background: rgb(247, 245, 245);
      top: 5px;
      height: 5px;
    }
    & .show-text:before {
      content: attr(data-duration);
      left: -16px;
      bottom: 1px;
    }
    & .show-text:after {
      content: "";
      width: 1px;
      background: rgb(255, 255, 255);
      height: 10px;
    }
  }
}

.opacity {
  opacity: 0.2;
}

