#main-wrapper {
  width: 100vw;
  margin-left: auto;
}

.img-container {
  height: 100vh;
  overflow: hidden;
  & img {
    -webkit-filter: blur(1px);
    scale: 1.3;
    position: relative;
    top: 10%;
  }
}

.spell-timeline-container {
  position: absolute;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  top: 45%;

  &::-webkit-scrollbar {
    height: 12px;
    cursor: default !important;
  }
  &::-webkit-scrollbar-track {
    background: rgba(104, 103, 100, 0.15);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9368a6;
  }
}

.container {
  display: flex;
  margin-top: 100px;
  color: white;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0f2426;
  & .player {
    position:relative;
    top: 20px;
    z-index: 3;   
  }
}

.spell-timeline {
  background-color: #0f242699;
  display: inline-block;
  font-size: 14px;
  position: relative;
  white-space: nowrap;
  & .lane {
    height: 50px;
    margin-bottom: 2px;
    z-index: 3;
    display: flex;
    align-items: center;
    border-bottom: solid #374065 2px;
    & .spell {
      position: absolute;
    }
  }
  & .lane:nth-of-type(even) {
    background: linear-gradient(45deg, #0f2426, transparent);
  }
  & .lane:nth-of-type(odd) {
    background: linear-gradient(45deg, #9368a6, transparent);
  }
  & .timeline-container {
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: solid #9368a6;
    background-color: #0f2426;
    & .time {
      display: inline-block;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 4px;
      font-size: 14px;
      position: relative;
    }
    & .show-line:before {
      content: "";
      width: 1px;
      background: rgb(247, 245, 245);
      position: absolute;
      top: 5px;
      height: 5px;
    }
    & .show-text:before {
      content: attr(data-duration);
      left: -16px;
      bottom: 1px;
      position: absolute;
    }
    & .show-text:after {
      content: "";
      width: 1px;
      background: rgb(255, 255, 255);
      position: absolute;
      height: 10px;
    }
  }
}



