.spell-timeline-container {
  overflow: auto;
  & .flex {
    margin-left: -5px;
  }
}

.spell-timeline {
  background-color: var(--faded-green);
  font-size: 14px;
  position: relative;
  white-space: nowrap;
  & .lane {
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: solid var(--dark-green);
    & .spell {
      position: absolute;
    }
    & .spell:before {
    content: "";
    width: 2px;
    background: rgb(236, 8, 8);
    position: absolute;
    bottom: 5px;
    height: 50px;
    z-index: 4;
    }
  }
  & .lane:nth-of-type(even) {
    background: var(--faded-green);
  }
  & .lane:nth-of-type(odd) {
    background: #548c68a6;
  }
  & .timeline-container {
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: solid 1px;
    background-color: var(--dark-green);
    position:relative;
    z-index: 2;
    box-shadow: 3px 3px 2px 0px #0000008a;
    & .time {
      display: inline-block;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 4px;
      font-size: 14px;
      position: relative;
    }
    & .show-line:before,
      .show-text:before,
      .show-text:after {
        position:absolute;
      }
    & .show-line:before {
      content: "";
      width: 1px;
      background: rgb(247, 245, 245);
      top: 5px;
      height: 5px;
    }
    & .show-text:before {
      content: attr(data-duration);
      left: -16px;
      bottom: 1px;
    }
    & .show-text:after {
      content: "";
      width: 1px;
      background: rgb(255, 255, 255);
      height: 10px;
    }
  }
}

