<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz">
    {% block stylesheets %}
    {% endblock %}
    <script>const whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true };</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
    {% block scripts %}
    {% endblock %}

    <title>WoWHealers</title>
</head>

<body {% block class %}class="PageType"{% endblock %}>
    <div id="main-wrapper" class="main-container">
    <nav>
        {% if path == "/healers_home" %}
        <h1>Healer Assignment Checker</h1>
        {% elif "/comparison" in path %}
        <div class="main-flex">
            <p class="home first"><a href = "/healers_home">Home</a></p>
            <p><a href="/healers_home/report{{boss}}_{{code}}">Pulls</a></p>
                {{boss.id}}
            {% block header_comparison %}
            {% endblock %}
        </div>
        {% else %}
        <div class="main-flex">
        <p class="home"><a href = "/healers_home">Home</a></p>
        {% block header %}
        {% endblock %}
        </div>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/js/apiQuerying.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/timeline.js"></script>
    <script src="/static/js/eventHandlers.js"></script>
</body>

</html>