<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    {% block stylesheets %}
    {% endblock %}
    <script>const whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true };</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
    {% block scripts %}
    {% endblock %}

    <title>{% block title %}Document{% endblock %}</title>
</head>

<body>
    <div id="main-wrapper">
    <nav>
        <h1><a href = "/healers_home">Healer Assignment Checker</a></h1>
    </nav>
    {% block content %}
    {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/apiQuerying.js"></script>
    <script src="/static/models.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/eventHandlers.js"></script>
</body>

</html>