{% extends 'base.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/comparison/timeline.css">
<link rel="stylesheet" href="/static/css/comparison/assignments.css">
{% endblock %}
{% block content %}

<div class="container-wrapper main-flex-col main box">
    <h2 class="title-box">Your Assignments{{boss.boss_id}}</h2>
    <div class="assignment-container main-flex">
        {% for spell in timers %}
            <div class="flex-img box">
                <div class="flex">
                    {% for event in events %}
                    {% for player in event %}
                    {% if player.spell == spell['name'] %}
                        <h3>{{player.ability}}</h3>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <h4 class="title">{{spell['name']}}</h4>
                    <img src="{{spell['icon']}}">
                </div>
                <div class="flex-sub">
                {% for time in spell['times'] %}
                    <p>{{time}}</p>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="spell-timeline-container box">
    <div class="flex">
        <div class="players main-flex-col">
            {% for event in events %}
            {% for player in event %}
            <div>
                {{player.name}}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="spell-timeline">
            <div class="timeline-container">
                <div>
                    {% for second in range(0, seconds, 2) %}
                    <div class="time {% if second % 30 == 0 %}show-text{% elif second % 10 == 0 %}show-line{% endif %}"
                    data-duration="{{ '%02d:%02d' | format(second // 60, second % 60) }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% for event in events %}
            {% for player in event %}
                <div class="lane">
                    {% for ability in player.abilities %}
                    {% if ability[3] != 'begincast' %}
                        <div class="spell" style="left: calc({{ (ability[1] / duration) * 100}}%);">
                        <img src="https://wow.zamimg.com/images/wow/icons/medium/{{ ability[2] }}">
                    {{readable_time(ability[1])}}
                    {{ability[1]}}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}