{% extends 'base.html' %}

{% block content %}

<div class="instructions">
    <h2>Check if your healers are using their cooldowns at the correct time!</h2>
    <p>Are your healers using their cds correctly? Want to check quickly? Look no further!</p>
</div>


    <form id="log-form" action="/healers/results" method="POST">
        <fieldset id="boss-form">
            <span>
                <h3>1: Choose a boss</h3>
            </span>
            <div id="radio-button-wrapper"class="radio-wrapper">
                {% for boss in bosses %}
    
                <label class="image-radio">
                    <input type="radio" name="boss-list" id="{{boss.id}}" value="{{boss.id}}" checked>
                    <img src="{{boss.icon}}" alt="Option 1">
                </label>
    
                {% endfor %}
            </div>
        </fieldset>

        <fieldset>
        <span>
            <h3>4: Url of log you want to check</h3>
        </span>
            <input type="text" id="log-input"
                placeholder="https://www.warcraftlogs.com/reports/mCnZyt9qkzMPraNF#fight=last" name="log-input">
        </fieldset>
            <button>Analyze</button>
           
    </form>
    

{% endblock %}